@font-face {
  font-family: Gotham;
  src: url(./Gotham-Bold.otf);
}

@keyframes circle-animation {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes hand-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

body{
overflow:hidden !important;
}

#interface-container {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

#interface-container1 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  background-color: black;
  opacity: 0.5;
}

#tap-circle {
  max-height: 100%;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: circle-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#tap-hand {
  max-height: 100%;
  position: absolute;
  z-index: 3;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-name: hand-animation;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.gotham-font {
  font-family: Gotham;
  color: white;
  -webkit-text-stroke: 1px black;
}

#interface-container-two {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
}

#talkar-button{
  background-color: #f65b07;
  border-color: #f65b07;
  width: 50%; 
  border-radius: 500px;
  font-family: Gotham;
   color: white;
}